    <%- include('partials/head'); %>
    <%- include('partials/nav'); %>
    <h1>This is a calculator App</h1>
    <div class="fetchWeather">
        <form action="/calc" method="post">
            <input type="number" name="num1" id="" placeholder="Enter Numbers">
            <input type="number" name="num2" id="" placeholder="Enter Numbers">
            <button type="submit btn-primary">Calculate</button>
        </form>
    </div>
</body>
</html>